---
layout: archive
title: "Page Archive"
permalink: /page-archive/
author_profile: false
---
- **[Have You Merged My Model? On The Robustness of Large Language Model IP Protection Methods Against Model Merging](https://arxiv.org/abs/XXXX.XXXXX)**  
  **Authors**: Tianshuo Cong, Delong Ran, Zesen Liu, Xinlei He, Jinyuan Liu, Yichen Gong, Qi Li, Anyu Wang, Xiaoyun Wang  
  Published in *The 1th ACM Workshop On Large AI Systems And Models With Privacy And Safety Analysis, co-located with CCS (CCS-LAMPS'24)*, Salt Lake City, USA.  
  [arXiv](https://arxiv.org/abs/XXXX.XXXXX) | [Code](https://github.com/username/project)
{% include base_path %}
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}
